001_all_fasta/
002_ANI/
003_snippy/
004_prokka/
005_DRAM/
007_AMRfinder+/
code_old/
.Rproj.user/
008_breseq/
010_define_strains_metagenomes/
011_analysis_with_NCBI_genomes/
ANVIO/
Clostridium_saudiense.Rproj
log_files/
out/


